/* App Colors
	#333, #97310E, #AE3910, #BF3E11, #DDD, #DD4814, #E3E3E3, #FFF, #ffffff, #F5F5F5
*/

html, body {
	height: 100%;
}

#bodyWrapper {
	min-height: 100%;
}

#bodyWrapperIn {
	overflow: auto; 
	padding-bottom: 100px;
}

.footer {
	position: relative;
	margin-top: -100px;
	height: 100px;
	clear: both;
	padding-top: 20px;
	xbackground-color:#526274; 
}

.footer , .footer a {
	xcolor: #ffffff;
}

html {
	display: block;
	/*min-height: 100%;*/
}

header {
	border-bottom-color: #0E3156 !important;
	xbackground-color: #0E3156 !important;
}

body {
	xbackground-color: #FDFDFD;
    padding-top: 75px; 
}

.no-rad {
	border-radius: 0px;
}

.live-match {
    border-left: red solid 3px;
}

.bottom-match-divider {
    border-bottom: white dashed 2px !important;
}

.score-separator {
    border-left: white solid 2px !important;
}

.point-serve {
    border-right: red solid 3px !important;
}